Package: gs-to-nsq
Version: 0.1
Architecture: amd64
Essential: no
Section: Applications
Priority: optional
Maintainer: eran@sandler.co.il
Installed-Size: 10000
Description: NSQ to GS ("stream" an NSQ topic to Google Storage)
